* {
    box-sizing: border-box;
}

body {
    color: #333;
    margin: 0;
    padding: 2rem;
}

.btn {
    background: #1abc9c;
    padding: 0.5rem 1rem;
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    transition: background 0.4s;
}

.btn:hover,
.btn:active {
    background: #109077;
    box-shadow: 1px 1px 8px rgba(77, 51, 51, 0.26);
}
